body{
    text-align: center;
    background-color: darkgray;
    margin-top: 200px;
}

#sortie{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
   grid-template: "1 2 3 4 5 6 7 8 9 10";
}
.colone1{
    grid-column: 1;
}
.colone2{grid-column: 2;}
.colone3{grid-column: 3;}
.colone4{grid-column: 4;}
.colone5{grid-column: 5;}
.colone6{grid-column: 6;}
.colone7{grid-column: 7;}
.colone8{grid-column: 8;}
.colone9{grid-column: 9;}
.colone10{grid-column: 10;}