nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}
html{
    background: rgb(153,193,209);

    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}